
body {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* .header {
    width: 100%;
    height: 100vh;
    background: url("../images/sliderImages/img1.png");
    background-color: black;
} */
.logo {
    margin: 0 10px 20px 20px;
}
.navbar_inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.navbar_item {
    margin: 0 20px 15px 20px;
    display: flex;
}
.img_container {
    margin: 0 10px 0 10px;
}
a {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    user-select:none;
}
a:hover {
    color: rgb(160, 160, 160);
}
.header_inner {
    max-width: 1300px;
    margin: 0 auto;
}

.title_logo{
    margin-bottom: 25px;
    max-width: 500px;
    user-select:none;
    pointer-events: none;
}
.title_description{
    max-width: 600px;
    user-select:none
}
.title{
    display: flex;
    justify-content: flex-end;
    z-index: ;
    /* position: fixed; */

}
.title_inner{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.p_title_description{
    color: #FFFFFF;
}

/* СТИЛИ ДЛЯ СЛАЙДЕРА */
.slider {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.slider_inner {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.slider_carousel {
    position: relative;
    width: 500%;
    font-size: 0;
    animation: 30s slider_inner-ani linear alternate infinite;
}

.slider_carousel figure {
    width: 20%;
    height: auto;
    display: inline-block;
}

.slider_carousel img {
    max-width: 100%;
    vertical-align: bottom;
}

/* Если что, я в этой хуйне сам не разбираюсь */
@keyframes slider_inner-ani {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

/* КОНЕЦ СТИЛЕЙ ДЛЯ СЛАЙДЕРА */